In [1]:
import os
import sys
wd = os.path.abspath(os.getcwd())
sys.path.append(str(wd))

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pickle

# Single

In [2]:
path = "/home/yuth/ws_yuthdev/robotics_manipulator/datasave/new_data/"
# 0. RRTBase
# 1. RRTStar
# 2. RRTInformed
# 3. RRTStarQuick

# 4. RRTConnect
# 5. RRTStarConnect
# 6. RRTInformedConnect
# 7. RRTStarConnectQuick

# 8. RRTBaseMulti
# 9. RRTStarMulti
# 10. RRTInformedMulti
# 11. RRTStarQuickMulti

# 12. RRTConnectMulti
# 13. RRTStarConnectMulti
# 14. RRTStarConnectQuickMulti

# 15. RRTConnectNoneAgressive - baseline
# 16. RRTConnectNoneAgressiveMulti - baseline

a = pd.read_csv(path + "env_RobotArm2DSimulator_types_Single_planner_2_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)
b = pd.read_csv(path + "env_RobotArm2DSimulator_types_Single_planner_4_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)
c = pd.read_csv(path + "env_RobotArm2DSimulator_types_Single_planner_15_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)
d = pd.read_csv(path + "env_RobotArm2DSimulator_types_Single_planner_5_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)
e = pd.read_csv(path + "env_RobotArm2DSimulator_types_Single_planner_6_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)

f = pd.read_csv(path + "env_RobotArm2DSimulator_types_Single_planner_4_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)
g = pd.read_csv(path + "env_RobotArm2DSimulator_types_Single_planner_15_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)
h = pd.read_csv(path + "env_RobotArm2DSimulator_types_Single_planner_5_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)

# Mean

In [3]:
am = a.mean(axis=0)
bm = b.mean(axis=0)
cm = c.mean(axis=0)
dm = d.mean(axis=0)
em = e.mean(axis=0)
fm = f.mean(axis=0)
gm = g.mean(axis=0)
hm = h.mean(axis=0)

df = pd.concat([am, bm, cm, dm, em, fm, gm, hm], axis=1)
df.rename(
    columns={
        0: "inform",
        1: "connect",
        2: "connect na",
        3: "star connect",
        4: "infrom star connect",
        5: "connect locgap",
        6: "connect na locgap",
        7: "star connect locgap",
    },
    inplace=True,
)
df.T

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
inform,5.899558,207.82,4.143247,1817.04,6.664683,4.992446,1.672237,1512.43,10415.51
connect,6.266189,97.40,5.342434,506.26,14.714871,12.827628,1.887242,3424.03,12368.23
connect na,6.351018,118.48,5.342142,582.23,13.652486,12.044056,1.608430,3362.45,10523.51
star connect,6.238587,97.40,4.278925,1819.59,21.870290,17.217226,4.653064,3424.03,31142.64
infrom star connect,6.238587,97.40,4.081414,1746.99,16.345724,13.394275,2.951449,2860.25,19576.52
connect locgap,6.266189,97.40,5.256902,443.43,9.367897,8.469304,0.898593,2555.78,5772.77
connect na locgap,6.351018,118.48,5.152517,478.41,10.075916,9.333922,0.741994,2764.12,4731.57
star connect locgap,6.238587,97.40,4.399816,1652.11,12.516425,10.890406,1.626019,2550.36,10540.54

# STD

In [4]:
astd = a.std(axis=0)
bstd = b.std(axis=0)
cstd = c.std(axis=0)
dstd = d.std(axis=0)
estd = e.std(axis=0)
fstd = f.std(axis=0)
gstd = g.std(axis=0)
hstd = h.std(axis=0)

dfs = pd.concat([astd, bstd, cstd, dstd, estd, fstd, gstd, hstd], axis=1)
dfs.rename(
    columns={
        0: "inform",
        1: "connect",
        2: "connect na",
        3: "star connect",
        4: "infrom star connect",
        5: "connect locgap",
        6: "connect na locgap",
        7: "star connect locgap",
    },
    inplace=True,
)
dfs.T

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
inform,0.966139,87.673911,0.077588,186.787348,0.846585,0.642296,0.229212,36.177524,932.879126
connect,1.513308,38.422426,0.699372,509.634740,0.552057,0.529737,0.030102,68.023830,132.764457
connect na,1.156774,43.027471,0.586995,524.024999,0.589117,0.566304,0.031263,73.017415,119.039294
star connect,1.498108,38.422426,0.156794,181.111222,0.810245,0.727476,0.106182,68.023830,648.360084
infrom star connect,1.498108,38.422426,0.052000,207.887183,0.655863,0.554126,0.194600,62.003645,1331.478001
connect locgap,1.513308,38.422426,1.073097,466.064249,2.340995,2.233631,0.119472,495.279343,738.516830
connect na locgap,1.156774,43.027471,0.798734,465.680475,1.616479,1.581030,0.062499,339.933900,389.029049
star connect locgap,1.498108,38.422426,0.842161,348.705308,3.393689,3.102123,0.365974,492.771107,2391.397767

# To thesis

In [5]:
df = df.T
dfs = dfs.T
df = df.round(2)
dfs = dfs.round(2)

In [6]:
dfnew = df.copy()
dfnew['First Cost'] = '&$' + df['First Cost'].map(str) + ' \pm ' + dfs['First Cost'].map(str) + '$'
dfnew['First Iteration'] = '&$' + df['First Iteration'].map(str) + ' \pm ' + dfs['First Iteration'].map(str) + '$'
dfnew['Latest Cost'] = '&$' + df['Latest Cost'].map(str) + ' \pm ' + dfs['Latest Cost'].map(str)+ '$'
dfnew['Latest Iteration'] = '&$' + df['Latest Iteration'].map(str) + ' \pm ' + dfs['Latest Iteration'].map(str)+ '$'
dfnew['Run Time'] = '&$' + df['Run Time'].map(str) + ' \pm ' + dfs['Run Time'].map(str)+ '$'
dfnew['Plan Time'] = '&$' + df['Plan Time'].map(str) + ' \pm ' + dfs['Plan Time'].map(str)+ '$'
dfnew['Col.C Time'] = '&$' + df['Col.C Time'].map(str) + ' \pm ' + dfs['Col.C Time'].map(str)+ '$'
dfnew['Node Number'] = '&$' + df['Node Number'].map(str) + ' \pm ' + dfs['Node Number'].map(str)+ '$'
dfnew['Col.C Number'] = '&$' + df['Col.C Number'].map(str) + ' \pm ' + dfs['Col.C Number'].map(str)+ '$'
dfnew

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
inform,&$5.9 \pm 0.97$,&$207.82 \pm 87.67$,&$4.14 \pm 0.08$,&$1817.04 \pm 186.79$,&$6.66 \pm 0.85$,&$4.99 \pm 0.64$,&$1.67 \pm 0.23$,&$1512.43 \pm 36.18$,&$10415.51 \pm 932.88$
connect,&$6.27 \pm 1.51$,&$97.4 \pm 38.42$,&$5.34 \pm 0.7$,&$506.26 \pm 509.63$,&$14.71 \pm 0.55$,&$12.83 \pm 0.53$,&$1.89 \pm 0.03$,&$3424.03 \pm 68.02$,&$12368.23 \pm 132.76$
connect na,&$6.35 \pm 1.16$,&$118.48 \pm 43.03$,&$5.34 \pm 0.59$,&$582.23 \pm 524.02$,&$13.65 \pm 0.59$,&$12.04 \pm 0.57$,&$1.61 \pm 0.03$,&$3362.45 \pm 73.02$,&$10523.51 \pm 119.04$
star connect,&$6.24 \pm 1.5$,&$97.4 \pm 38.42$,&$4.28 \pm 0.16$,&$1819.59 \pm 181.11$,&$21.87 \pm 0.81$,&$17.22 \pm 0.73$,&$4.65 \pm 0.11$,&$3424.03 \pm 68.02$,&$31142.64 \pm 648.36$
infrom star connect,&$6.24 \pm 1.5$,&$97.4 \pm 38.42$,&$4.08 \pm 0.05$,&$1746.99 \pm 207.89$,&$16.35 \pm 0.66$,&$13.39 \pm 0.55$,&$2.95 \pm 0.19$,&$2860.25 \pm 62.0$,&$19576.52 \pm 1331.48$
connect locgap,&$6.27 \pm 1.51$,&$97.4 \pm 38.42$,&$5.26 \pm 1.07$,&$443.43 \pm 466.06$,&$9.37 \pm 2.34$,&$8.47 \pm 2.23$,&$0.9 \pm 0.12$,&$2555.78 \pm 495.28$,&$5772.77 \pm 738.52$
connect na locgap,&$6.35 \pm 1.16$,&$118.48 \pm 43.03$,&$5.15 \pm 0.8$,&$478.41 \pm 465.68$,&$10.08 \pm 1.62$,&$9.33 \pm 1.58$,&$0.74 \pm 0.06$,&$2764.12 \pm 339.93$,&$4731.57 \pm 389.03$
star connect locgap,&$6.24 \pm 1.5$,&$97.4 \pm 38.42$,&$4.4 \pm 0.84$,&$1652.11 \pm 348.71$,&$12.52 \pm 3.39$,&$10.89 \pm 3.1$,&$1.63 \pm 0.37$,&$2550.36 \pm 492.77$,&$10540.54 \pm 2391.4$

# Multi

In [7]:
path = "/home/yuth/ws_yuthdev/robotics_manipulator/datasave/new_data/"
# 0. RRTBase
# 1. RRTStar
# 2. RRTInformed
# 3. RRTStarQuick

# 4. RRTConnect
# 5. RRTStarConnect
# 6. RRTInformedConnect
# 7. RRTStarConnectQuick

# 8. RRTBaseMulti
# 9. RRTStarMulti
# 10. RRTInformedMulti
# 11. RRTStarQuickMulti

# 12. RRTConnectMulti
# 13. RRTStarConnectMulti
# 14. RRTStarConnectQuickMulti

# 15. RRTConnectNoneAgressive - baseline
# 16. RRTConnectNoneAgressiveMulti - baseline

i = pd.read_csv(path + "env_RobotArm2DSimulator_types_Multi_planner_12_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)
j = pd.read_csv(path + "env_RobotArm2DSimulator_types_Multi_planner_16_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)
k = pd.read_csv(path + "env_RobotArm2DSimulator_types_Multi_planner_13_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)

l = pd.read_csv(path + "env_RobotArm2DSimulator_types_Multi_planner_12_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)
m = pd.read_csv(path + "env_RobotArm2DSimulator_types_Multi_planner_16_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)
n = pd.read_csv(path + "env_RobotArm2DSimulator_types_Multi_planner_13_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)

In [8]:
im = i.mean(axis=0)
jm = j.mean(axis=0)
km = k.mean(axis=0)

lm = l.mean(axis=0)
mm = m.mean(axis=0)
nm = n.mean(axis=0)

df2 = pd.concat([im, jm, km, lm, mm, nm], axis=1)
df2.rename(
    columns={
        0: "cnt multi",
        1: "cnt na multi",
        2: "star cnt multi",
        3: "cnt multi locgap",
        4: "cnt na multi locgap",
        5: "star cnt multi locgap",
    },
    inplace=True,
)
df2.T

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
cnt multi,5.985748,103.55,5.108114,581.81,14.394156,12.528157,1.865999,3416.13,12331.50
cnt na multi,6.059122,125.69,5.220446,735.27,13.359910,11.757311,1.602599,3348.36,10499.13
star cnt multi,5.966579,103.55,4.106993,1806.30,21.514424,16.921983,4.592442,3416.13,30933.15
cnt multi locgap,5.985748,103.55,4.735533,393.45,10.502004,9.548836,0.953168,2806.12,6100.73
cnt na multi locgap,6.059122,125.69,4.991980,435.18,10.459922,9.698152,0.761770,2859.63,4788.61
star cnt multi locgap,5.966579,103.55,3.908698,1657.33,14.252805,12.494605,1.758200,2810.96,11351.90

In [9]:
istd = i.std(axis=0)
jstd = j.std(axis=0)
kstd = k.std(axis=0)

lstd = l.std(axis=0)
mstd = m.std(axis=0)
nstd = n.std(axis=0)

dfs2 = pd.concat([istd, jstd, kstd, lstd, mstd, nstd], axis=1)
dfs2.rename(
    columns={
        0: "cnt multi",
        1: "cnt na multi",
        2: "star cnt multi",
        3: "cnt multi locgap",
        4: "cnt na multi locgap",
        5: "star cnt multi locgap",
    },
    inplace=True,
)
dfs2.T

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
cnt multi,1.162231,47.813690,0.718680,505.384336,0.639631,0.608024,0.038054,76.837840,157.014540
cnt na multi,1.159583,52.908859,0.737998,557.896968,0.763807,0.735552,0.040162,87.714242,137.142457
star cnt multi,1.166003,47.813690,0.159003,209.692054,0.912767,0.810019,0.126865,76.837840,745.317712
cnt multi locgap,1.162231,47.813690,0.481865,414.237437,2.086717,1.991814,0.110674,427.206578,660.075307
cnt na multi locgap,1.159583,52.908859,0.771537,437.866992,1.691781,1.651949,0.070834,337.154602,412.296277
star cnt multi locgap,1.166003,47.813690,0.088560,333.973448,3.035559,2.767436,0.348834,422.028026,2273.359213

In [10]:
df2 = df2.T
dfs2 = dfs2.T
df2 = df2.round(2)
dfs2 = dfs2.round(2)

In [11]:
dfnew2 = df2.copy()
dfnew2['First Cost'] = '&$' + df2['First Cost'].map(str) + ' \pm ' + dfs2['First Cost'].map(str) + '$'
dfnew2['First Iteration'] = '&$' + df2['First Iteration'].map(str) + ' \pm ' + dfs2['First Iteration'].map(str) + '$'
dfnew2['Latest Cost'] = '&$' + df2['Latest Cost'].map(str) + ' \pm ' + dfs2['Latest Cost'].map(str)+ '$'
dfnew2['Latest Iteration'] = '&$' + df2['Latest Iteration'].map(str) + ' \pm ' + dfs2['Latest Iteration'].map(str)+ '$'
dfnew2['Run Time'] = '&$' + df2['Run Time'].map(str) + ' \pm ' + dfs2['Run Time'].map(str)+ '$'
dfnew2['Plan Time'] = '&$' + df2['Plan Time'].map(str) + ' \pm ' + dfs2['Plan Time'].map(str)+ '$'
dfnew2['Col.C Time'] = '&$' + df2['Col.C Time'].map(str) + ' \pm ' + dfs2['Col.C Time'].map(str)+ '$'
dfnew2['Node Number'] = '&$' + df2['Node Number'].map(str) + ' \pm ' + dfs2['Node Number'].map(str)+ '$'
dfnew2['Col.C Number'] = '&$' + df2['Col.C Number'].map(str) + ' \pm ' + dfs2['Col.C Number'].map(str)+ '$'
dfnew2

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
cnt multi,&$5.99 \pm 1.16$,&$103.55 \pm 47.81$,&$5.11 \pm 0.72$,&$581.81 \pm 505.38$,&$14.39 \pm 0.64$,&$12.53 \pm 0.61$,&$1.87 \pm 0.04$,&$3416.13 \pm 76.84$,&$12331.5 \pm 157.01$
cnt na multi,&$6.06 \pm 1.16$,&$125.69 \pm 52.91$,&$5.22 \pm 0.74$,&$735.27 \pm 557.9$,&$13.36 \pm 0.76$,&$11.76 \pm 0.74$,&$1.6 \pm 0.04$,&$3348.36 \pm 87.71$,&$10499.13 \pm 137.14$
star cnt multi,&$5.97 \pm 1.17$,&$103.55 \pm 47.81$,&$4.11 \pm 0.16$,&$1806.3 \pm 209.69$,&$21.51 \pm 0.91$,&$16.92 \pm 0.81$,&$4.59 \pm 0.13$,&$3416.13 \pm 76.84$,&$30933.15 \pm 745.32$
cnt multi locgap,&$5.99 \pm 1.16$,&$103.55 \pm 47.81$,&$4.74 \pm 0.48$,&$393.45 \pm 414.24$,&$10.5 \pm 2.09$,&$9.55 \pm 1.99$,&$0.95 \pm 0.11$,&$2806.12 \pm 427.21$,&$6100.73 \pm 660.08$
cnt na multi locgap,&$6.06 \pm 1.16$,&$125.69 \pm 52.91$,&$4.99 \pm 0.77$,&$435.18 \pm 437.87$,&$10.46 \pm 1.69$,&$9.7 \pm 1.65$,&$0.76 \pm 0.07$,&$2859.63 \pm 337.15$,&$4788.61 \pm 412.3$
star cnt multi locgap,&$5.97 \pm 1.17$,&$103.55 \pm 47.81$,&$3.91 \pm 0.09$,&$1657.33 \pm 333.97$,&$14.25 \pm 3.04$,&$12.49 \pm 2.77$,&$1.76 \pm 0.35$,&$2810.96 \pm 422.03$,&$11351.9 \pm 2273.36$