In [1]:
import os
import sys
wd = os.path.abspath(os.getcwd())
sys.path.append(str(wd))

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pickle

# Multi

In [2]:
path = "/home/yuth/ws_yuthdev/robotics_manipulator/datasave/new_data/"
# 0. RRTBase
# 1. RRTStar
# 2. RRTInformed
# 3. RRTStarQuick

# 4. RRTConnect
# 5. RRTStarConnect
# 6. RRTInformedConnect
# 7. RRTStarConnectQuick

# 8. RRTBaseMulti
# 9. RRTStarMulti
# 10. RRTInformedMulti
# 11. RRTStarQuickMulti

# 12. RRTConnectMulti
# 13. RRTStarConnectMulti
# 14. RRTStarConnectQuickMulti

# 15. RRTConnectNoneAgressive - baseline
# 16. RRTConnectNoneAgressiveMulti - baseline

i = pd.read_csv(path + "env_UR5eArmCoppeliaSimAPI_types_Multi_planner_12_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)
j = pd.read_csv(path + "env_UR5eArmCoppeliaSimAPI_types_Multi_planner_16_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)
k = pd.read_csv(path + "env_UR5eArmCoppeliaSimAPI_types_Multi_planner_13_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)

l = pd.read_csv(path + "env_UR5eArmCoppeliaSimAPI_types_Multi_planner_12_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)
m = pd.read_csv(path + "env_UR5eArmCoppeliaSimAPI_types_Multi_planner_16_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)
n = pd.read_csv(path + "env_UR5eArmCoppeliaSimAPI_types_Multi_planner_13_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)

In [3]:
im = i.mean(axis=0)
jm = j.mean(axis=0)
km = k.mean(axis=0)

lm = l.mean(axis=0)
mm = m.mean(axis=0)
nm = n.mean(axis=0)

df2 = pd.concat([im, jm, km, lm, mm, nm], axis=1)
df2.rename(
    columns={
        0: "cnt multi",
        1: "cnt na multi",
        2: "star cnt multi",
        3: "cnt multi locgap",
        4: "cnt na multi locgap",
        5: "star cnt multi locgap",
    },
    inplace=True,
)
df2.T

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
cnt multi,4.997510,168.40,4.555538,427.85,56.062369,18.066851,37.995518,5381.46,21361.24
cnt na multi,6.284201,240.11,5.579743,487.43,49.204926,16.507948,32.696978,5262.22,18360.92
star cnt multi,4.997510,168.40,4.554963,427.90,67.306423,29.421164,37.885260,5381.46,21362.02
cnt multi locgap,4.997510,168.40,3.903972,536.61,29.066436,14.473076,14.593360,4569.00,8247.89
cnt na multi locgap,6.284201,240.11,4.136560,543.80,25.246374,14.142937,11.103437,4538.85,6294.59
star cnt multi locgap,4.997510,168.40,3.360581,2321.20,39.035428,19.075077,19.960351,4569.00,11342.48

In [4]:
istd = i.std(axis=0)
jstd = j.std(axis=0)
kstd = k.std(axis=0)

lstd = l.std(axis=0)
mstd = m.std(axis=0)
nstd = n.std(axis=0)

dfs2 = pd.concat([istd, jstd, kstd, lstd, mstd, nstd], axis=1)
dfs2.rename(
    columns={
        0: "cnt multi",
        1: "cnt na multi",
        2: "star cnt multi",
        3: "cnt multi locgap",
        4: "cnt na multi locgap",
        5: "star cnt multi locgap",
    },
    inplace=True,
)
dfs2.T

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
cnt multi,0.985948,89.556145,0.777489,625.141186,2.468452,1.384643,1.119195,182.143157,613.819342
cnt na multi,1.288871,115.201790,0.895461,505.961616,2.637886,1.621629,1.045008,209.666671,580.249836
star cnt multi,0.985948,89.556145,0.777063,625.125967,3.141347,2.044995,1.109212,182.143157,613.448951
cnt multi locgap,0.985948,89.556145,0.680487,516.815754,4.062108,2.852243,1.327261,634.474458,738.286631
cnt na multi locgap,1.288871,115.201790,0.663596,517.173534,2.394983,2.163511,0.734449,449.228303,410.789265
star cnt multi locgap,0.985948,89.556145,0.559966,687.845105,6.621541,3.947459,3.628485,634.474458,2051.138710

In [5]:
df2 = df2.T
dfs2 = dfs2.T
df2 = df2.round(2)
dfs2 = dfs2.round(2)

In [6]:
dfnew2 = df2.copy()
dfnew2['First Cost'] = '&$' + df2['First Cost'].map(str) + ' / ' + dfs2['First Cost'].map(str) + '$'
dfnew2['First Iteration'] = '&$' + df2['First Iteration'].map(str) + ' / ' + dfs2['First Iteration'].map(str) + '$'
dfnew2['Latest Cost'] = '&$' + df2['Latest Cost'].map(str) + ' / ' + dfs2['Latest Cost'].map(str)+ '$'
dfnew2['Latest Iteration'] = '&$' + df2['Latest Iteration'].map(str) + ' / ' + dfs2['Latest Iteration'].map(str)+ '$'
dfnew2['Run Time'] = '&$' + df2['Run Time'].map(str) + ' / ' + dfs2['Run Time'].map(str)+ '$'
dfnew2['Plan Time'] = '&$' + df2['Plan Time'].map(str) + ' / ' + dfs2['Plan Time'].map(str)+ '$'
dfnew2['Col.C Time'] = '&$' + df2['Col.C Time'].map(str) + ' / ' + dfs2['Col.C Time'].map(str)+ '$'
dfnew2['Node Number'] = '&$' + df2['Node Number'].map(str) + ' / ' + dfs2['Node Number'].map(str)+ '$'
dfnew2['Col.C Number'] = '&$' + df2['Col.C Number'].map(str) + ' / ' + dfs2['Col.C Number'].map(str)+ '$'
dfnew2

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
cnt multi,&$5.0 / 0.99$,&$168.4 / 89.56$,&$4.56 / 0.78$,&$427.85 / 625.14$,&$56.06 / 2.47$,&$18.07 / 1.38$,&$38.0 / 1.12$,&$5381.46 / 182.14$,&$21361.24 / 613.82$
cnt na multi,&$6.28 / 1.29$,&$240.11 / 115.2$,&$5.58 / 0.9$,&$487.43 / 505.96$,&$49.2 / 2.64$,&$16.51 / 1.62$,&$32.7 / 1.05$,&$5262.22 / 209.67$,&$18360.92 / 580.25$
star cnt multi,&$5.0 / 0.99$,&$168.4 / 89.56$,&$4.55 / 0.78$,&$427.9 / 625.13$,&$67.31 / 3.14$,&$29.42 / 2.04$,&$37.89 / 1.11$,&$5381.46 / 182.14$,&$21362.02 / 613.45$
cnt multi locgap,&$5.0 / 0.99$,&$168.4 / 89.56$,&$3.9 / 0.68$,&$536.61 / 516.82$,&$29.07 / 4.06$,&$14.47 / 2.85$,&$14.59 / 1.33$,&$4569.0 / 634.47$,&$8247.89 / 738.29$
cnt na multi locgap,&$6.28 / 1.29$,&$240.11 / 115.2$,&$4.14 / 0.66$,&$543.8 / 517.17$,&$25.25 / 2.39$,&$14.14 / 2.16$,&$11.1 / 0.73$,&$4538.85 / 449.23$,&$6294.59 / 410.79$
star cnt multi locgap,&$5.0 / 0.99$,&$168.4 / 89.56$,&$3.36 / 0.56$,&$2321.2 / 687.85$,&$39.04 / 6.62$,&$19.08 / 3.95$,&$19.96 / 3.63$,&$4569.0 / 634.47$,&$11342.48 / 2051.14$