In [1]:
import os
import sys
wd = os.path.abspath(os.getcwd())
sys.path.append(str(wd))

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pickle

# Multi

In [2]:
path = "/home/yuth/ws_yuthdev/robotics_manipulator/datasave/planner_ijcas_data/"
# 0. RRTBase
# 1. RRTStar
# 2. RRTInformed
# 3. RRTStarQuick

# 4. RRTConnect
# 5. RRTStarConnect
# 6. RRTInformedConnect
# 7. RRTStarConnectQuick

# 8. RRTBaseMulti
# 9. RRTStarMulti
# 10. RRTInformedMulti
# 11. RRTStarQuickMulti

# 12. RRTConnectMulti
# 13. RRTStarConnectMulti
# 14. RRTStarConnectQuickMulti

# 15. RRTConnectNoneAgressive - baseline
# 16. RRTConnectNoneAgressiveMulti - baseline

i = pd.read_csv(path + "env_RobotArm2DRRRSimulator_types_Multi_planner_12_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)
j = pd.read_csv(path + "env_RobotArm2DRRRSimulator_types_Multi_planner_16_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)
k = pd.read_csv(path + "env_RobotArm2DRRRSimulator_types_Multi_planner_13_withlocgap_False_performance.csv").drop('Unnamed: 0', axis=1)

l = pd.read_csv(path + "env_RobotArm2DRRRSimulator_types_Multi_planner_12_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)
m = pd.read_csv(path + "env_RobotArm2DRRRSimulator_types_Multi_planner_16_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)
n = pd.read_csv(path + "env_RobotArm2DRRRSimulator_types_Multi_planner_13_withlocgap_True_performance.csv").drop('Unnamed: 0', axis=1)

In [3]:
im = i.mean(axis=0)
jm = j.mean(axis=0)
km = k.mean(axis=0)

lm = l.mean(axis=0)
mm = m.mean(axis=0)
nm = n.mean(axis=0)

df2 = pd.concat([im, jm, km, lm, mm, nm], axis=1)
df2.rename(
    columns={
        0: "cnt multi",
        1: "cnt na multi",
        2: "star cnt multi",
        3: "cnt multi locgap",
        4: "cnt na multi locgap",
        5: "star cnt multi locgap",
    },
    inplace=True,
)
df2.T

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
cnt multi,7.490969,236.27,7.112674,488.01,10.680661,6.111991,4.568671,2016.95,14205.23
cnt na multi,8.139150,282.94,7.356333,761.14,8.584973,4.662954,3.922019,1850.00,12265.76
star cnt multi,7.488808,236.27,7.035019,881.35,13.296410,8.466937,4.829474,2016.95,15053.64
cnt multi locgap,7.490969,236.27,6.583486,585.93,8.425689,6.545167,1.880522,2180.10,6022.98
cnt na multi locgap,8.139150,282.94,6.901690,691.06,8.000041,6.387561,1.612480,2173.52,5216.67
star cnt multi locgap,7.488808,236.27,5.492073,1788.23,12.107948,8.416447,3.691501,2179.89,11577.27

In [4]:
istd = i.std(axis=0)
jstd = j.std(axis=0)
kstd = k.std(axis=0)

lstd = l.std(axis=0)
mstd = m.std(axis=0)
nstd = n.std(axis=0)

dfs2 = pd.concat([istd, jstd, kstd, lstd, mstd, nstd], axis=1)
dfs2.rename(
    columns={
        0: "cnt multi",
        1: "cnt na multi",
        2: "star cnt multi",
        3: "cnt multi locgap",
        4: "cnt na multi locgap",
        5: "star cnt multi locgap",
    },
    inplace=True,
)
dfs2.T

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
cnt multi,0.868317,89.375030,0.659279,401.685929,0.760520,0.600656,0.172917,86.024236,460.104333
cnt na multi,0.983860,101.018332,0.636110,522.920432,0.804399,0.592218,0.221360,127.718678,641.289438
star cnt multi,0.867928,89.375030,0.659565,617.730554,0.945662,0.767830,0.190379,86.024236,523.609511
cnt multi locgap,0.868317,89.375030,0.584231,428.051877,1.960488,1.723029,0.270076,412.303299,678.606995
cnt na multi locgap,0.983860,101.018332,0.644639,404.671455,1.667561,1.540565,0.180116,388.514172,446.557858
star cnt multi locgap,0.867928,89.375030,0.371586,223.702628,2.946706,2.369596,0.649197,412.123569,1872.085435

In [5]:
df2 = df2.T
dfs2 = dfs2.T
df2 = df2.round(2)
dfs2 = dfs2.round(2)

In [6]:
dfnew2 = df2.copy()
dfnew2['First Cost'] = '&$' + df2['First Cost'].map(str) + ' / ' + dfs2['First Cost'].map(str) + '$'
dfnew2['First Iteration'] = '&$' + df2['First Iteration'].map(str) + ' / ' + dfs2['First Iteration'].map(str) + '$'
dfnew2['Latest Cost'] = '&$' + df2['Latest Cost'].map(str) + ' / ' + dfs2['Latest Cost'].map(str)+ '$'
dfnew2['Latest Iteration'] = '&$' + df2['Latest Iteration'].map(str) + ' / ' + dfs2['Latest Iteration'].map(str)+ '$'
dfnew2['Run Time'] = '&$' + df2['Run Time'].map(str) + ' / ' + dfs2['Run Time'].map(str)+ '$'
dfnew2['Plan Time'] = '&$' + df2['Plan Time'].map(str) + ' / ' + dfs2['Plan Time'].map(str)+ '$'
dfnew2['Col.C Time'] = '&$' + df2['Col.C Time'].map(str) + ' / ' + dfs2['Col.C Time'].map(str)+ '$'
dfnew2['Node Number'] = '&$' + df2['Node Number'].map(str) + ' / ' + dfs2['Node Number'].map(str)+ '$'
dfnew2['Col.C Number'] = '&$' + df2['Col.C Number'].map(str) + ' / ' + dfs2['Col.C Number'].map(str)+ '$'
dfnew2

,First Cost,First Iteration,Latest Cost,Latest Iteration,Run Time,Plan Time,Col.C Time,Node Number,Col.C Number
cnt multi,&$7.49 / 0.87$,&$236.27 / 89.38$,&$7.11 / 0.66$,&$488.01 / 401.69$,&$10.68 / 0.76$,&$6.11 / 0.6$,&$4.57 / 0.17$,&$2016.95 / 86.02$,&$14205.23 / 460.1$
cnt na multi,&$8.14 / 0.98$,&$282.94 / 101.02$,&$7.36 / 0.64$,&$761.14 / 522.92$,&$8.58 / 0.8$,&$4.66 / 0.59$,&$3.92 / 0.22$,&$1850.0 / 127.72$,&$12265.76 / 641.29$
star cnt multi,&$7.49 / 0.87$,&$236.27 / 89.38$,&$7.04 / 0.66$,&$881.35 / 617.73$,&$13.3 / 0.95$,&$8.47 / 0.77$,&$4.83 / 0.19$,&$2016.95 / 86.02$,&$15053.64 / 523.61$
cnt multi locgap,&$7.49 / 0.87$,&$236.27 / 89.38$,&$6.58 / 0.58$,&$585.93 / 428.05$,&$8.43 / 1.96$,&$6.55 / 1.72$,&$1.88 / 0.27$,&$2180.1 / 412.3$,&$6022.98 / 678.61$
cnt na multi locgap,&$8.14 / 0.98$,&$282.94 / 101.02$,&$6.9 / 0.64$,&$691.06 / 404.67$,&$8.0 / 1.67$,&$6.39 / 1.54$,&$1.61 / 0.18$,&$2173.52 / 388.51$,&$5216.67 / 446.56$
star cnt multi locgap,&$7.49 / 0.87$,&$236.27 / 89.38$,&$5.49 / 0.37$,&$1788.23 / 223.7$,&$12.11 / 2.95$,&$8.42 / 2.37$,&$3.69 / 0.65$,&$2179.89 / 412.12$,&$11577.27 / 1872.09$